html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* !!! CSS RESET !!! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  margin: 0;
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:link,
a:visited {
  color: blue; }

a:hover {
  text-decoration: none; }

#home {
  display: inline-block;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: lighter; }
  #home .column {
    position: relative;
    z-index: 1000;
    display: inline-block;
    width: 40%;
    vertical-align: middle;
    margin: 4rem 1rem;
    line-height: 1.2em; }
    @media screen and (max-width: 1000px) {
      #home .column {
        font-size: 1.35rem; } }
    @media screen and (max-width: 786px) {
      #home .column {
        display: block;
        width: 80%;
        margin: 0 auto;
        font-size: 3rem; } }
    @media screen and (max-width: 550px) {
      #home .column {
        width: 90%;
        font-size: 4rem; } }
    #home .column h1 {
      font-family: 'Astloch', serif;
      text-align: center;
      margin-bottom: 0.8rem;
      line-height: 1.3em; }
    #home .column img {
      display: block;
      margin: auto;
      width: 80%; }
  #home #recent_work {
    position: fixed;
    width: 50%;
    top: 10%;
    margin-bottom: 3rem; }
    @media screen and (max-width: 786px) {
      #home #recent_work {
        position: static;
        width: 80%;
        margin: 5rem auto; } }
    #home #recent_work img {
      display: block;
      margin: auto;
      width: 30%;
      margin-bottom: 2rem; }
      @media screen and (max-width: 786px) {
        #home #recent_work img {
          width: 60%; } }
      @media screen and (max-width: 550px) {
        #home #recent_work img {
          width: 80%; } }
    #home #recent_work h1 {
      font-family: 'Astloch', serif;
      text-align: center;
      /*margin-bottom: 0.6rem;*/
      font-size: 1.8rem;
      line-height: 1.4em; }
      @media screen and (max-width: 1000px) {
        #home #recent_work h1 {
          font-size: 2.2rem; } }
      @media screen and (max-width: 786px) {
        #home #recent_work h1 {
          font-size: 4rem; } }
      @media screen and (max-width: 550px) {
        #home #recent_work h1 {
          font-size: 5rem; } }
    #home #recent_work p {
      /*text-transform: uppercase;*/
      font-size: 1.4rem;
      line-height: 1.4em; }
      @media screen and (max-width: 1000px) {
        #home #recent_work p {
          font-size: 1.8rem;
          line-height: 1.6em; } }
      @media screen and (max-width: 786px) {
        #home #recent_work p {
          font-size: 3.2rem; } }
      @media screen and (max-width: 550px) {
        #home #recent_work p {
          font-size: 4.2rem; } }
  #home .links {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    text-align: left;
    text-transform: uppercase;
    line-height: 1.4em; }
    @media screen and (max-width: 1000px) {
      #home .links {
        line-height: 1.6em; } }
    @media screen and (max-width: 786px) {
      #home .links {
        position: static; } }
  #home #dropdown {
    color: blue;
    text-decoration: underline; }
    #home #dropdown:hover {
      text-decoration: none;
      cursor: pointer; }
  #home #dropdown_links {
    position: relative;
    z-index: -100;
    height: 0;
    opacity: 0;
    transition: height ease 0.3s;
    -webkit-transition: height ease 0.3s; }
    #home #dropdown_links a:link,
    #home #dropdown_links a:visited {
      display: block;
      padding-left: 1rem;
      text-transform: none; }
    #home #dropdown_links.show {
      height: auto;
      opacity: 1;
      z-index: 100; }
  #home .list {
    text-align: center;
    line-height: 1.2em; }
  #home .highlight {
    font-family: 'Astloch', serif;
    text-align: center; }
  #home .normal {
    font-weight: normal; }
  #home #bio {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;
    background-color: white;
    padding: 1rem;
    margin-bottom: 2rem; }
    @media screen and (max-width: 786px) {
      #home #bio {
        margin-bottom: 6rem; } }

#projects {
  overflow-x: hidden; }
  #projects header {
    position: fixed;
    margin-top: 2rem;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    z-index: 1000; }
    @media screen and (max-width: 1000px) {
      #projects header {
        margin-top: 1.5rem;
        font-size: 1.4rem; } }
    @media screen and (max-width: 786px) {
      #projects header {
        padding: 1rem;
        font-size: 2.5rem; } }
    @media screen and (max-width: 550px) {
      #projects header {
        padding: 1rem;
        font-size: 4rem; } }
    #projects header h3 {
      font-family: 'Alegreya Sans', sans-serif;
      color: blue;
      text-decoration: underline; }
      #projects header h3:hover {
        text-decoration: none;
        cursor: pointer; }
    #projects header #about_link {
      width: 15%;
      text-align: right;
      display: inline-block;
      vertical-align: middle;
      text-transform: uppercase; }
    #projects header #title {
      display: inline-block;
      vertical-align: middle;
      width: 60%;
      font-family: 'Astloch', serif;
      font-size: 1.4rem; }
      @media screen and (max-width: 1000px) {
        #projects header #title {
          font-size: 1.8rem; } }
      @media screen and (max-width: 786px) {
        #projects header #title {
          font-size: 3.2rem;
          line-height: 1.1em; } }
      @media screen and (max-width: 550px) {
        #projects header #title {
          font-size: 5rem; } }
    #projects header #project_link {
      text-align: left;
      display: inline-block;
      vertical-align: middle;
      width: 15%;
      z-index: 10; }
    #projects header #dropdown_links {
      display: none;
      z-index: -1000;
      position: absolute; }
      #projects header #dropdown_links a:link,
      #projects header #dropdown_links a:visited {
        padding: 0.3rem 0.3rem 0.3rem 1rem;
        display: block;
        /*text-transform: uppercase;*/
        margin-bottom: 0.2rem; }
        @media screen and (max-width: 786px) {
          #projects header #dropdown_links a:link,
          #projects header #dropdown_links a:visited {
            padding: 0.5rem 0.5rem 0.5rem 1rem;
            margin-top: 1rem;
            /*background-color: white;*/ } }
      #projects header #dropdown_links.show {
        display: block;
        height: auto;
        opacity: 1;
        z-index: 100; }
  #projects #about_text {
    display: none;
    position: fixed;
    left: 25%;
    right: 25%;
    top: 50%;
    transform: translateY(-50%);
    /*max-height: 40rem;*/
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    z-index: 2000; }
    @media screen and (max-width: 786px) {
      #projects #about_text {
        left: 10%;
        right: 10%; } }
    @media screen and (max-width: 550px) {
      #projects #about_text {
        left: 5%;
        right: 5%;
        max-height: 60vh;
        overflow-y: scroll;
        padding: 2rem; } }
    #projects #about_text p {
      font-family: 'Alegreya Sans', sans-serif;
      font-weight: lighter;
      font-size: 1.1rem;
      line-height: 1.3em; }
      @media screen and (max-width: 1000px) {
        #projects #about_text p {
          font-size: 1.4rem; } }
      @media screen and (max-width: 786px) {
        #projects #about_text p {
          font-size: 1.8rem; } }
      @media screen and (max-width: 550px) {
        #projects #about_text p {
          font-size: 3.8rem; } }
    #projects #about_text .highlight {
      font-family: 'Astloch', serif;
      font-size: 1.2rem; }
      @media screen and (max-width: 1000px) {
        #projects #about_text .highlight {
          font-size: 1.4rem; } }
      @media screen and (max-width: 786px) {
        #projects #about_text .highlight {
          font-size: 2rem; } }
      @media screen and (max-width: 550px) {
        #projects #about_text .highlight {
          font-size: 4rem; } }
    #projects #about_text.show {
      display: block; }
  #projects nav {
    /*img{
      position: fixed;
      width: 17rem;
      -webkit-transform: translateY(-50%);
    }*/ }
    #projects nav div {
      position: fixed;
      top: 0;
      bottom: 0;
      width: 10rem;
      padding: 0 2rem;
      z-index: 50;
      vertical-align: middle;
      /*background: red;*/ }
      @media screen and (max-width: 1000px) {
        #projects nav div {
          width: 13rem;
          padding: 0 1rem; } }
      @media screen and (max-width: 786px) {
        #projects nav div {
          width: 15rem;
          padding: 0 0rem; } }
      @media screen and (max-width: 550px) {
        #projects nav div {
          width: 20rem;
          padding: 0 0rem; } }
      #projects nav div img {
        width: 100%;
        margin-top: 50vh;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%); }
        @media screen and (max-width: 550px) {
          #projects nav div img {
            width: 80%; } }
      #projects nav div:hover {
        cursor: pointer; }
    #projects nav #nav_left {
      left: 0; }
    #projects nav #nav_right {
      right: 0; }
      @media screen and (max-width: 550px) {
        #projects nav #nav_right img {
          float: right; } }
    #projects nav #arrow_left {
      left: 0rem; }
    #projects nav #arrow_right {
      right: 0rem; }
  #projects #description {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: lighter;
    position: fixed;
    bottom: 1rem;
    width: 100%;
    text-align: center; }
    @media screen and (max-width: 1000px) {
      #projects #description {
        font-size: 1.4rem; } }
    @media screen and (max-width: 786px) {
      #projects #description {
        font-size: 1.8rem; } }
    @media screen and (max-width: 550px) {
      #projects #description {
        font-size: 3.8rem; } }
  #projects .slideshow_container {
    position: fixed;
    width: 100%;
    top: 12vh;
    bottom: 12vh;
    text-align: center;
    z-index: -100;
    line-height: 70vh; }
  #projects .slide {
    display: none;
    max-height: 100%;
    width: auto;
    max-width: 80%;
    opacity: 0;
    z-index: -100; }
    #projects .slide.show {
      opacity: 1;
      display: inline-block;
      vertical-align: middle; }
  #projects .embed-container {
    position: relative;
    padding-bottom: 40%;
    height: 0;
    overflow: hidden;
    margin: 0 auto;
    width: 71%; }
  #projects .embed-container iframe,
  #projects .embed-container object,
  #projects .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#grab_bag {
  display: inline-block;
  text-align: center; }
  #grab_bag .image {
    display: inline-block;
    vertical-align: middle; }

#bouncingImagesLyr0 img {
  width: 100%; }

/*# sourceMappingURL=main.css.map */
